In [1]:
import pandas as pd

In [4]:
dt_data = pd.read_json('../../dataset/moveis_disponiveis.json')
dt_data.head()

    id        data  vaga_disponivel preco
0  857  2016-01-04            False  None
1  857  2016-01-05            False  None
2  857  2016-01-06            False  None
3  857  2016-01-07            False  None
4  857  2016-01-08            False  None

In [5]:
# Inspecionando o DataFrame
dt_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               365000 non-null  int64
 1   data             365000 non-null  object
 2   vaga_disponivel  365000 non-null  bool
 3   preco            270547 non-null  object
dtypes: bool(1), int64(1), object(2)
memory usage: 11.5+ MB

In [6]:
# Temos interesse em analisar a coluna 'data' como datetime
pd.to_datetime(dt_data['data'])

0        2016-01-04
1        2016-01-05
2        2016-01-06
3        2016-01-07
4        2016-01-08
            ...
364995   2016-12-29
364996   2016-12-30
364997   2016-12-31
364998   2017-01-01
364999   2017-01-02
Name: data, Length: 365000, dtype: datetime64[ns]

In [7]:
dt_data['data'] = pd.to_datetime(dt_data['data'])
dt_data.head().info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               5 non-null      int64
 1   data             5 non-null      datetime64[ns]
 2   vaga_disponivel  5 non-null      bool
 3   preco            0 non-null      object
dtypes: bool(1), datetime64[ns](1), int64(1), object(1)
memory usage: 165.0+ bytes