# Curso rápido de Python


* Numbers
* Strings
* Printando
* Listas
* Dicionários
* Boleanos
* Tuplas
* Sets


* Operadores de comparação
* if,elif, else
* for Loops
* while Loops
* range()
* list comprehension
* funções
* expressões lamda
* map e filter
* métodos
____

## Tipos de dados

### Numéricos

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Definição de variáveis

In [8]:
# Não se pode iniciar uma variável com números ou carateres especais
nome_da_variavel = 2

In [9]:
x = 2
y = 3

In [10]:
z = x + y

In [11]:
z

5

### Strings

In [12]:
'Citação simples'

'Citação simples'

In [13]:
"Citações duplas"

'Citações duplas'

### Printando

In [14]:
x = 'ola'

In [15]:
x

'ola'

In [16]:
print(x)

ola

In [17]:
idade = 41
nome = 'Glauco'
sobrenome = "Cardozo"

In [18]:
print('Me chamo {v1} {v2} e tenho: {v3}'.format(v1=nome,v2=sobrenome,v3=idade))

Me chamo Glauco Cardozo e tenho: 41

### Listas

In [19]:
lista = [1, 2, 3, 4, 5, 6]
lista

[1, 2, 3, 4, 5, 6]

In [20]:
lista.append(7)
lista

[1, 2, 3, 4, 5, 6, 7]

In [21]:
lista[4]
type(lista)

list

In [22]:
lista = ['hi',1,[1,2]]
lista

['hi', 1, [1, 2]]

In [23]:
lista[2][0]

1

In [24]:
minha_lista = ['a','b','c']

In [25]:
minha_lista.append('d')

In [81]:
minha_lista

['a', 'b', 'c', 'd']

In [82]:
minha_lista[0]

'a'

In [83]:
minha_lista[1]

'b'

In [89]:
minha_lista[:2]

['a', 'b']

In [90]:
minha_lista[:1]

['a']

In [97]:
minha_lista[0] = 'NOVO'

In [100]:
string = "nome sobrenome"
string[:5]

'nome '

In [93]:
minha_lista

['NOVO', 'b', 'c', 'd']

In [95]:
minha_lista[0][:2]

'NO'

In [102]:
#lista aninhada

nest = [1,2,3,[4,5,['target']]]

In [103]:
nest[3]

[4, 5, ['target']]

In [104]:
nest[3][2]

['target']

In [105]:
nest[3][2][0]

'target'

### Dicionários

Tipo de lista com indexação

In [107]:
d = {'chave1':'item1','chave2':'item2'}

In [108]:
d

{'chave1': 'item1', 'chave2': 'item2'}

In [109]:
d['chave1']

'item1'

In [111]:
d = {'chave1':['item1.1','item1.2','item1.3'],'chave2':['item2.1','item2.2','item2.3']}

In [116]:
d['chave1'][1]

'item1.2'

### Tuplas

In [121]:
lista

['hi', 1, [1, 2]]

In [123]:
lista[0]=22
lista

[22, 1, [1, 2]]

In [125]:
t = (1,2,3)

In [126]:
t[0]

1

In [127]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

Conjuntos sem ordenação e sem repetição

In [128]:
{1,2,3}

{1, 2, 3}

In [44]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

### Booleanos

In [117]:
True

True

In [130]:
False

False

In [132]:
1==1

True

In [143]:
(1!=1) and (1<2)

False

## Operadores de comparação

In [158]:
1 > 2

False

In [159]:
1 < 2

True

In [160]:
1 >= 1

True

In [161]:
1 <= 4

True

In [162]:
1 == 1

True

In [163]:
'oi' == 'tchau'

False

## Operadores lógicos

In [164]:
(1 > 2) and (2 < 3)

False

In [165]:
(1 > 2) or (2 < 3)

True

In [166]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else

In [167]:
if 1 < 2:
    print('Sim!')

Sim!

In [168]:
if 1 < 2:
    print('Primeiro')
else:
    print('Último')

Primeiro

In [169]:
if 1 > 2:
    print('Primeiro')
else:
    print('Último')

Último

In [170]:
if 1 == 2:
    print('Primeiro')
elif 3 == 3:
    print('Meio')
else:
    print('Último')

Meio

In [225]:
#if ternário

numero = 6
msg = "Par" if numero%2 == 0 else "Impar"
print(msg)

Par

## for Loops

In [198]:
seq = {1,2,3,4,5}
seq

{1, 2, 3, 4, 5}

In [199]:
for item in seq:
    print(item)

1
2
3
4
5

In [173]:
for item in seq:
    print('!')

!
!
!
!
!

In [174]:
for outra_coisa in seq:
    print(outra_coisa+outra_coisa)

2
4
6
8
10

## while Loops

In [187]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [188]:
range(5)

range(0, 5)

In [189]:
for i in range(5):
    print(i)

0
1
2
3
4

In [190]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [200]:
x = [1,2,3,4]

In [201]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [212]:
lista1=[item**2 for item in x]
print(lista1)

lista2=[item for item in range(5)]
lista2

[1, 4, 9, 16]

[0, 1, 2, 3, 4]

## Funções

In [213]:
def my_func(param1='default'):
    """
    Documentação da função vai aqui.
    """
    print(param1)

In [214]:
my_func

In [215]:
my_func()

default

In [216]:
my_func('novo parametro')

novo parametro

In [217]:
my_func(param1='novo parametro')

novo parametro

In [218]:
def square(x):
    return x**2

In [219]:
out = square(2)

In [226]:
 print(out)

4

In [228]:
def funcao(x, y):
    
    a = x+y;
    b = x*y;
    
    return a, b

In [232]:
A, B = funcao(2, 3)
print(A)
print(B)

5
6

## Expressões lamda

In [233]:
def vezes2(var):
    return var*2

In [234]:
vezes2(2)

4

In [235]:
lambda var: var*2

## map e filter

In [242]:
seq = [1,2,3,4,5]

In [243]:
#extração

map(vezes2,seq)

In [244]:
list(map(vezes2,seq))

[2, 4, 6, 8, 10]

In [245]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [247]:
list(map(lambda var: var%2,seq))

[1, 0, 1, 0, 1]

In [248]:
#comparação

filter(lambda item: item%2 == 0,seq)

In [252]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## Métodos

In [256]:
st = 'Olá, me chamo Glauco Cardozo'

In [257]:
st.lower()

'olá, me chamo glauco cardozo'

In [258]:
st.upper()

'OLÁ, ME CHAMO GLAUCO CARDOZO'

In [285]:
#quebra a string em partes formando uma lista
st.split()

['Olá,', 'me', 'chamo', 'Glauco', 'Cardozo']

In [292]:
tweet = 'Dale Avai! #Avai1 #Avai2'

In [293]:
tweet.split('#')

['Dale Avai! ', 'Avai1 ', 'Avai2']

In [295]:
tweet.split('#')[1]

'Avai1 '

In [296]:
d

{'chave1': ['item1.1', 'item1.2', 'item1.3'],
 'chave2': ['item2.1', 'item2.2', 'item2.3']}

In [297]:
d.keys()

dict_keys(['chave1', 'chave2'])

In [298]:
d.items()

dict_items([('chave1', ['item1.1', 'item1.2', 'item1.3']), ('chave2', ['item2.1', 'item2.2', 'item2.3'])])

In [317]:
lst = [1,2,3]

In [318]:
#remove elemento da lista

print(lst.pop())
lst

3

[1, 2]

In [319]:
lst.append(4)

In [320]:
lst

[1, 2, 4]

In [321]:
'x' in [1,2,3]

False

In [322]:
'x' in ['x','y','z']

True